<md-content>

    <h2 ng-click="showUses = !showUses" ng-init="showUses = false">
        Uses:
        <md-icon class="mi mi-arrow-drop-down" ng-hide="showUses"></md-icon>
        <md-icon class="mi mi-arrow-drop-up" ng-show="showUses"></md-icon>
    </h2>
    <div ng-show="showUses">
        <md-list>
            <md-list-item class="md-title">Use</md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-repeat="use in ctrl.uses" ng-click="ctrl.getSingleUse(use.links[1].href)">
                {{use.use}}
                <md-divider></md-divider>
            </md-list-item>
        </md-list>

        <form ng-submit="ctrl.submitUse()" layout="column">
            <h3>Edit/New Use</h3>
            <div layout="row">
                <md-input-container required>
                    <input type="text" ng-model="ctrl.useInput.use" aria-label="Name of the new use" required
                           ng-disabled="ctrl.useInput.links !== undefined">
                    <label>Name of the Use</label>
                </md-input-container>
                <md-input-container required>
                <textarea ng-model="ctrl.useInput.configuration" aria-label="Config of the new use" rows="5"
                          md-select-on-focus required>

                </textarea>
                    <label>Configuration of the Use</label>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button type="submit" class="md-primary md-raised">Save</md-button>
                <md-button ng-click="ctrl.useInput = {}" md-colors="{color: 'red'}" class="md-raised">Clear</md-button>
            </div>
        </form>
    </div>

    <h2 ng-click="showUsers = !showUsers" ng-init="showUsers = true">
        Users:
        <md-icon class="mi mi-arrow-drop-down" ng-hide="showUsers"></md-icon>
        <md-icon class="mi mi-arrow-drop-up" ng-show="showUsers"></md-icon>
    </h2>
    <div ng-show="showUsers">
        <md-list>
            <md-list-item>
                <span class="md-title" flex="5">ID</span><span class="md-title">Username/E-Mail</span>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item ng-repeat="user in ctrl.users | orderBy:'id'" ng-click="ctrl.getSingleUser(user)">
                <span flex="5">{{user.id}}</span>{{user.email}}
                <md-divider></md-divider>
            </md-list-item>
        </md-list>

        <form ng-submit="ctrl.submitUser()" layout="column">
            <h3>Edit/New User</h3>
            <div layout="row">
                <md-input-container>
                    <input type="email" required ng-model="ctrl.userInput.email"
                           ng-disabled="ctrl.userInput.links !== undefined">
                    <label>E-Mail</label>
                </md-input-container>
                <md-input-container>
                    <input type="text" ng-model="ctrl.userInput.firstname" autocomplete="off" required>
                    <label>Firstname</label>
                </md-input-container>
                <md-input-container>
                    <input type="text" ng-model="ctrl.userInput.lastname" autocomplete="off" required>
                    <label>Lastname</label>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container ng-show="ctrl.userInput.links === undefined">
                    <input type="password" ng-model="ctrl.userInput.password" autocomplete="off"
                           ng-required="ctrl.userInput.links === undefined">
                    <label>Password</label>
                </md-input-container>
                <md-input-container>
                    <md-switch ng-model="ctrl.userInput.admin"></md-switch>
                    <label>Admin</label>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button type="submit" class="md-primary md-raised">Save</md-button>
                <md-button ng-click="ctrl.userInput = {}" md-colors="{color: 'red'}" class="md-raised">Clear</md-button>
            </div>
        </form>
    </div>


    <div ng-show="ctrl.showCACreate">
        <h2>Create CA</h2>
        <form ng-submit="ctrl.createNewCA()" layout="column">
            <div layout="row">
                <md-select ng-model="ctrl.createCA.bits">
                    <md-option value="1024">1024</md-option>
                    <md-option value="2048">2048</md-option>
                    <md-option value="4096" selected="selected">4096</md-option>
                </md-select>
                <md-input-container>
                    <label>commonName</label>
                    <input type="text" ng-model="ctrl.createCA.commonName">
                </md-input-container>
                <md-input-container>
                    <label>country</label>
                    <input type="text" ng-model="ctrl.createCA.country">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>location</label>
                    <input type="text" ng-model="ctrl.createCA.location">
                </md-input-container>
                <md-input-container>
                    <label>organization</label>
                    <input type="text" ng-model="ctrl.createCA.organization">
                </md-input-container>
                <md-input-container>
                    <label>organizationalUnit</label>
                    <input type="text" ng-model="ctrl.createCA.organizationalUnit">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>state</label>
                    <input type="text" ng-model="ctrl.createCA.state">
                </md-input-container>
                <md-input-container>
                    <label>validDays</label>
                    <input type="text" ng-model="ctrl.createCA.validDays">
                </md-input-container>
            </div>
            <div layout="row">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</md-content>